@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}

/* Global styles */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  height: 100vh;
  width: 100%;
  background-image: url('https://images-portfolio-web.s3.ap-southeast-2.amazonaws.com/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
}

body {
  position: relative;
  width: 88%;
  margin: 0 auto;
  color: #444444;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, 'Helvetica Neue', sans-serif;
  background-color: #fafafa;
  font-family: monospace;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

td,
th {
  padding: 4px 8px 4px 4px;
  text-align: left;
}

th {
  font-weight: 600;
}

.scroll-container {
  #progress {
    // position: fixed;
    // top: 20px;
    // left: 20px;
    transform: rotate(-90deg);
  }
  
  circle {
    stroke-dashoffset: 0;
    stroke-width: 15%;
    fill: none;
  }
  
  .bg {
    stroke: white;
    opacity: 0.3;
  }
  
  #progress .indicator {
    stroke: white;
  }
  
  ul {
    display: flex;
    list-style: none;
    height: 100%;
    overflow-x: scroll;
    padding: 20px 0;
    flex: 0 0 600px;
    margin: 0 auto;
  }
  
  ::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background: #fff3;
    -webkit-border-radius: 1ex;
  }
  
  ::-webkit-scrollbar-thumb {
    background: white;
    -webkit-border-radius: 1ex;
  }
  
  ::-webkit-scrollbar-corner {
    background: #fff3;
  }
  
  li {
    flex: 0 0 300px;
    flex-direction: row;
    margin: 0 10vw 0 0;
  }

  img:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  
  li:last-of-type {
    margin: 0;
  }


  .selected-modal{
    padding: 20px ;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    width: 70%;
    height: 50vh;
    border-radius: 10px;
    border: 1px solid #000;
    background-color: rgba(255, 255, 255, 0.894);
    z-index: 1000;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  }
}

.typewriter {
  color: white;
  font-size: 1rem;
}

.hero-type { 
  color: white;
  text-shadow: 1px 1px 2px black;
  word-wrap: break-word;
  white-space: pre-wrap;
  text-align: center;
}